[submodule "projects/2026/task_priority_framework_siciliano_slotine_1991"]
	path = projects/2026/task_priority_framework_siciliano_slotine_1991
	url = git@github.com:hucebot/task_priority_framework_siciliano_slotine_1991.git
